<!DOCTYPE html>


<h1>Browse Videos</h1>

<ul id="list-nav">
	<li><a href="#">Home</a></li>
	<li><a href="#">Most Tagged</a></li>
	<li><a href="#">Most Viewed</a></li>
	<li><a href="#">Recently Added</a></li>

	<li><a href="#">Tags</a></li>
		<ul id="gestures">
			<li><a href="#">Gestures</a></li>
			<li><a href="#">hand wave</a></li>
			<li><a href="#">arabesque</a></li>
		</ul>
		<ul id="camera-angle">

			<li><a href="#">right</a></li>
			<li><a href="#">left</a></li>
		</ul>
</ul>

<form id="search bar">
	<label for= "search-input"> Search
	<input type="text"name="search" id="search-input">
<select id="sort-dropdown">
	<option value = "relevance">Relevance</option>

	<option value = "most viewed">Most Viewed</option>
	<option value = "tagged">Tagged</option>
	<option value = "timeframe">Time Frame</option>
</select>
</form>
<br>
<form id="filter">
	<label for="filter=input">Filter<br/>
	<input type="checkbox" name="cameraangle-right"/> Right Angle Camera <br />

	<input type="checkbox" name="cameraangle-left"/> Left Camera Angle <br />
	<input type="checkbox" name="Arabesque move" /> Arabesque <br>
</form>

<form>
<input type="submit" value="Submit" />
</form>

</html>

